* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5f7;
    background-image: radial-gradient(#000000 1.05px, transparent 1.05px), radial-gradient(#000000 1.05px, #e5e5f7 1.05px);
    background-size: 42px 42px;
    background-position: 0 0, 21px 21px;
}

/* HEADER */
.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
}

/* */
.container {
    /* background-color: #fff; */
    width: 90%;
    max-width: 1200px;

    margin: 2em auto;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(6, 1fr);
}

.container>.header,
.container>.content,
.container>.sidebar,
.container>.footer {
    background: #fff;
    padding: 10px;
    border: 1px solid #000000;
}

.container>.header,
.container>.footer {
    background-color: #1e272e;
    color: #fff;
    grid-column: 1/7;
}

.container>.content {
    grid-column: span 4;
}

.container>.sidebar {
    grid-column: span 2;

    display: flex;
    justify-content: center;
}

.content>.article {
    background: #808e90;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.content>.article h1,
.content>.article p {
    padding: 10px;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Cursos>.l1{
    margin-left: 45px;
}

/* barra lateral donde se ubican los drop */
.container>.sidebar {

    grid-column: span 2;
    background: #485460;
    color: #fff;

    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.container>.imgContainer1,
.container>.imgContainer2,
.container>.imgContainer3 {

    grid-column: span 2;

    height: 180px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.drop1,
.drop2,
.drop3 {
    height: 200px;
    width: 300px;

    margin: 1em;
    border: 3px solid #000000
}

.drop1:hover,
.drop2:hover,
.drop3:hover {
    border: 3px dotted #dfe6e9;
}